ExpenseTracker.Business/Connected Services/ExpenseTrackerRegistrationService/RegistrationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="UserValidationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsValidEmail" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValidUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValidUserName" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserValidationDTO" nillable="true" type="tns:UserValidationDTO" />
</xs:schema>