ExpenseTracker.Business/Connected Services/ExpenseTrackerRegistrationService/RegistrationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" minOccurs="0" name="user" nillable="true" type="q1:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" minOccurs="0" name="user" nillable="true" type="q2:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" minOccurs="0" name="ValidateUserResult" nillable="true" type="q3:UserValidationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>