ExpenseTracker.Business/Connected Services/ExpenseTrackerService/ExpenseTrackerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/ExpenseTrackerService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="SearchPeriod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Weekly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Monthly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Yearly">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchPeriod" nillable="true" type="tns:SearchPeriod" />
  <xs:complexType name="TransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="HasReceipts" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:double" />
      <xs:element minOccurs="0" name="TransactionCategory" nillable="true" type="tns:TransactionCategoryDTO" />
      <xs:element minOccurs="0" name="TransactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionNote" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionReceipts" nillable="true" type="tns:ArrayOfTransactionReceiptDTO" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
  <xs:complexType name="TransactionCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionCategoryDTO" nillable="true" type="tns:TransactionCategoryDTO" />
  <xs:complexType name="ArrayOfTransactionReceiptDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionReceiptDTO" nillable="true" type="tns:TransactionReceiptDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionReceiptDTO" nillable="true" type="tns:ArrayOfTransactionReceiptDTO" />
  <xs:complexType name="TransactionReceiptDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiptImage" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="TransactionId" type="xs:int" />
      <xs:element minOccurs="0" name="TransactionReceiptId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionReceiptDTO" nillable="true" type="tns:TransactionReceiptDTO" />
  <xs:complexType name="ArrayOfTransactionCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionCategoryDTO" nillable="true" type="tns:TransactionCategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionCategoryDTO" nillable="true" type="tns:ArrayOfTransactionCategoryDTO" />
  <xs:complexType name="TransactionSearchCriteriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SearchPeriod" type="tns:SearchPeriod" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionSearchCriteriaDTO" nillable="true" type="tns:TransactionSearchCriteriaDTO" />
  <xs:complexType name="ArrayOfTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionDTO" nillable="true" type="tns:TransactionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionDTO" nillable="true" type="tns:ArrayOfTransactionDTO" />
</xs:schema>