ExpenseTracker.Business/Connected Services/ExpenseTrackerAuthenticationService/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:90/AuthenticationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" minOccurs="0" name="credentials" nillable="true" type="q1:Credentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExpenseTracker.BusinessObjects" minOccurs="0" name="AuthenticateResult" nillable="true" type="q2:AuthenticateResultDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>